# https://EditorConfig.org
root = true

[*]
charset = utf-8
indent_style = space
# indent_size = 4
# tab_width = 4
# end_of_line = lf
# insert_final_newline = true
trim_trailing_whitespace = true
# for VS editor line-limit guidelines
guidelines = 80, 100
guidelines_style = 1px dot 808080

[*.{md,txt}]
indent_size = 4
trim_trailing_whitespace = false

# Code files
[*.php]
indent_size = 4
insert_final_newline = true

[*.{css,html}]
indent_size = 4

# Minified JavaScript files shouldn't be changed
[**.min.{js,css}]
indent_style = ignore
insert_final_newline = ignore
trim_trailing_whitespace = ignore

# The JSON files contain newlines inconsistently
[*.json]
indent_size = 2
insert_final_newline = ignore

# Batch files use tabs for indentation
[*.{bat,cmd}]
indent_style = tab
tab_width = 4